body {
    background: #141E30;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: absolute;
    top: 0px;
    left: 45px;
    text-align: left;
    font-size: 35px;
    color: #e50914;
    font: geneva;
}

.login {
    position: absolute;
    top: 45px;
    right: 20px;
    color: white;
}

.login-button,
.register-button {
    border-radius: 8px;
}

.hero-section {
    width: 90vw;
    margin-top: 150px;
    max-height: 500px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.poster {
    width: 100%;
    height: auto;
}

.feature-section {
    width: 90vw;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.feature-section img {
    display: flex;
    border-radius: 8px;
    object-fit: cover;
    width: 33.3333333333333333333333333333333333333333333333333333333333333333%;
    height: auto;
}

.feature-section img:hover {
    transform: scale(1.02);
    transition: transform 0.34s;
}

.feature-title {
    font-size: 50px;
    margin-bottom: 10px;
    color: white
}

.footer {
    width: 98.5vw;
    background-color: #172e55;
    color: white;
    height: 4rem;
    margin: 0rem;
    padding: 0rem;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    margin: 0rem;
    padding: 0rem;
    align-items: center;
}

.copyright {
    font-size: 20px;
    margin-left: 20vw;
}

.contact {
    font-size: 20px;
    margin-right: 20vw;
}