body {
    padding: 20px;
    background: #141E30;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: absolute;
    top: 0px;
    left: 20px;
    text-align:left;
    font-size: 20px;
    color: #e50914;
    font: geneva;
}

.login {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.loginButton, .registerButton {
    border-radius: 8px;
}

.heroSection {
    width: 90vw;
    margin-top: 100px;
    max-height: 500px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.poster {
    width: 100%;
    height: auto;
}

.featureSection {
    width: 90vw;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.featureSection img {
    display: flex;
    border-radius: 8px;
    object-fit: cover;
    width: 33.3333333333333333333333333333333333333333333333333333333333333333%;
    height: auto;
}

.featureTitle {
    font-size: 50px;
    margin-bottom: 10px;
    color: white
}

.footer {
    width: 100%;
    background-color: #1a3466;
    color: white;
    text-align: center;
    margin-top: 20px;
}
